.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.top {
  border-bottom: 2px solid black;
  height: 10vh;
  width: 61%;
  background-color: #9b9b8c;
}
.main{
  height: 75vh;
  width: 61%;
  background-color: #eeeeee;
}
.foot {
  height: 10vh;
  width: 61%;
  background-color: #686859;
}
.track {
  height: 20vh;
  width: 30%;
  margin-top: 15vh;
  margin-left: 5vw;
  padding: 30px;
  flex-grow: 2;
}
.pic {
  height: 100%;
  width: inherit;
  margin-left: 30vw;
  margin-top: -45vh;
  position: relative;
}
.tbin {
  color: #490063;
  font-size: 40px;
  margin-bottom: 2vh;
  font-family: avenir;
}
button {
  width: 12vw;
  height: 5vh;
  border-radius: 5px;
  background-color: #353526;
  color: #dededc;
  font-family: avenir;
  font-size: 15px;
  border: 0px
}
.train {
  width: 82%;
  height: 100%;
  opacity: 0.19;
  z-index: 1;
  position: absolute;
}
.red {
  margin-top: 3vh;
  position: relative;
  width: 130px;
  height: 130px;
  z-index: 3;
  margin-left: 9.9vw;
}

.end {
  position: relative;
  margin-left: 5vw;
  font-family: avenir;
  color: #dededc;
}
