.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.top {
  border-bottom: 2px solid black;
  height: 10vh;
  width: 61%;
  background-color: #9b9b8c;
}
.main{
  height: 75vh;
  width: 61%;
  background-color: #eeeeee;
}
.foot {
  height: 10vh;
  width: 61%;
  background-color: #686859;
}
.track {
  height: 20vh;
  width: 30%;
  margin-top: 15vh;
  margin-left: 5vw;
  padding: 30px;
  flex-grow: 2;
}
.pic {
  height: 95%;
  width: inherit;
  margin-left: 30vw;
  margin-top: -43vh;
}
p {
  color: #490063;
  font-size: 40px;
  margin-bottom: 2vh;
  font-family: arial;
}
button {
  width: 12vw;
  height: 5vh;
  border-radius: 5px;
  background-color: #353526;
  color: #dededc;
  font-family: arial;
  font-size: 15px;
  border: 0px
}
img {
  width: 82%;
  height: 100%;
  opacity: 0.19;
}
